.showdata-container{
    width: 90%;
    margin: auto;
    display : flex;
}

.showdata-container>div{
    width: 30%;
    /* border:1px solid black; */
    margin: 10px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border: 0.5px solid rgb(195, 186, 186);
    border-radius: 10px ;
    padding: 20px 25px;
    height: 50vh;
    overflow: scroll;
}

.showdata-container>div>div{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    padding: 10px;
}