.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    position: fixed;
    top:0;
    left:0;
    padding: 10px;
    box-shadow: 2px 1px 2px black;
}